@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
   --main-color:#000000;
   --sub-color:#666;
   --white:#fff;
   --border:.1rem solid var(--sub-color);
}

*{
   font-family: 'Montserrat', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--sub-color);
   color: var(--main-color);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--sub-color);
   border-radius: 5rem;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 2rem;
}

section{
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}

.btn{
   display: inline-block;
   cursor: pointer;
   padding: 1rem 3rem;
   border: var(--border);
   font-size: 1.8rem;
   color: var(--white);
   text-align: center;
   text-transform: capitalize;
   transition: .2s linear;
   margin-top: 1rem;
   background-color: var(--main-color);
}

.btn:hover{
   border-radius: 5rem;
}

.header{
   border-bottom: var(--border);
   position: sticky;
   top: 0; left: 0; right: 0;
   background-color: var(--white);
   z-index: 1000;
}

.header .flex{
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--main-color);
}

.header .flex .navbar a{
   margin-left: 1rem;
   font-size: 1.8rem;
   color: var(--sub-color);
   padding: .5rem 1.5rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.header .flex .navbar a:hover{
   background-color: var(--main-color);
   color: var(--white);
}

.header #menu-btn{
   font-size: 2.5rem;
   color: var(--main-color);
   display: none;
}

.form-container{
   min-height: calc(100vh - 20rem);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   width: 50rem;
   border-radius: .5rem;
   padding: 2rem;
   border: var(--border);
   text-align: center;
}

.form-container form h3{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   color: var(--main-color);
   text-transform: capitalize;
}

.form-container form p{
   padding: 1rem 0;
   font-size:1.8rem;
   color: var(--sub-color);
}

.form-container form p span{
   color: var(--main-color);
}

.form-container form .box{
   width: 100%;
   border-radius: .5rem;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--main-color);
   border: var(--border);
   margin: 1rem 0;
}